<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card mt-5">
                    <div class="card-body">
                        <h5 class="card-title">Login</h5>
                        <form method="POST" action="{{ url_for('main.login') }}">
                            {{ form.hidden_tag() }}
                            <div class="form-group">
                                {{ form.email.label(class="form-control-label") }}
                                {{ form.email(class="form-control") }}
                            </div>
                            <div class="form-group">
                                {{ form.password.label(class="form-control-label") }}
                                {{ form.password(class="form-control") }}
                            </div>
                            <button type="submit" class="btn btn-primary">Login</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>